body {
    text-align: center;
    background-color: black;
    font-size: 5em;
    font-family: 'comfortaa', serif;
    color: #black;
    background: url("../images/drawing.png");
}

h1 {
    color: black;
    font-size: 28px;
}

h2 {
    font-size: 26px;
    font-color: black;
}

 p {
    text-align: center;
    color: blue;
    font-size: 14px;
}

#slogan {
    color: blue;
    font-size: 24px;
}

img {
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

p {
    text-decoration: italic;
}

ul {
    display:inline;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}

li {
    font-size: 20px;
    display: inline;
}