body {
    text-align: center;
    background-color: black;
    font-size: 25px;
    font-family: 'comfortaa', serif;
    color: #black;
    background: url("../images/black-and-white.jpg");
}

div {
 width: 20%;
 display:inline;
}

a:hover { background-color: yellow;
opacity: .6; }

img:hover {
    opacity: .3;
}

div {
    float: center;
}

#section {
    font-size: 5em;
    display: inline;
}

#em-unit {
    float: left;
    border-style: dotted;
    text-align: center;
    /*width: 10em;*/
    width: 30%;
    height: 80px;
}

#pixel-unit {
    text-align: center;
    border-style: dotted;
    float: left;
    margin: .5em;
    /*width: 200px;*/
    width: 30%;
    height: 80px;

}

header {
    float: center;
}

h1 {
    color: Red;
    font-size: 1em;
}

h2 {
    font-size: 1em;
    color: lavender;
}

h3 {
    font-size: 1em;
}

 p {
    vertical-align: left;
    text-align: left;
    color: red;
    font-size: 14px;
    margin: 2em;
    padding: 1em;
    border: 1em;
}

#slogan {
    color: orange;
    font-size: 1em;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

ul {
    display:block;
    float:left;
}

li {
    font-size: 1em;
    display: block;
    color: GREY;
}

#about {
float:center;
display: inline-block;
text-decoration: bold;
}

#gallery {
    display: inline;
}

footer {
    font-size: .1em;
    display:block;
    float: left;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  div {
    margin: 0 1em 1em 0;
{ float: left; width: auto; } }