body {
    text-align: center;
    background-color: black;
    font-size: 25px;
    font-family: 'comfortaa', serif;
    color: #black;
    background: url("../images/black-and-white.jpg");
}

div {
 width: 280px;
 display:block;
}

a:hover { background-color: yellow;
opacity: .6; }

img:hover {
    opacity: .3;
}

div {
    float: center;
}

#section {
    font-size: 3em;
    display: block;
}

#em-unit {
    float: center;
    background-color:#ff6a5e;
    text-align: center;
    /*width: 10em;*/
    width: 100%;
    height: 70px;
}

#pixel-unit {
    background-color: #c05eff;
    float: center;
    /*width: 200px;*/
    width: 100%;
    height: 50px;

}

header {
    float: center;
}

h1 {
    color: Cyan;
    font-size: 1em;
}

h2 {
    font-size: 1em;
    color: pink;
}

h3 {
    font-size: 1em;
}

 p {
    vertical-align: center;
    text-align: center;
    color: yellow;
    font-size: 14px;
    margin: 2em;
    padding: 1em;
    border: 1em;
}

#slogan {
    color: orange;
    font-size: 1em;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

ul {
    display:block;
    float:center;
}

li {
    font-size: 1em;
    display: block;
    color: green;
}

#about {
float:center;
display: block;
text-decoration: bold;
}

#gallery {
    display: block;
}

footer {
    font-size: .1em;
    display:block;
    float: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  div {
    margin: 0 1em 1em 0;
{ float: none; width: auto; } }