body {
    text-align: center;
    background-color: black;
    font-size: 5em;
    font-family: 'comfortaa', serif;
    color: #black;
    background: url("../images/drawing1_grey.png");
}

div {
 width: 280px;
 display:inline-block;
}

div:hover {
    opacity: .6;
}

a:hover { background-color: yellow;
opacity: .6; }

img:hover {
    opacity: .3;
}

header {
    float: center;
}
h1 {
    color: Cyan;
    font-size: 28px;
}

h2 {
    font-size: 26px;
    color: pink;
}

h3 {
    font-size: 22px;
}

 p {
    text-align: center;
    color: yellow;
    font-size: 14px;
}

#slogan {
    color: orange;
    font-size: 24px;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

ul {
    display:block;
    float:center;
}

li {
    font-size: 20px;
    display: block;
    color: green;
}

#about {
float:center;
display: inline;
text-decoration: bold;
}

footer {
    font-size: 16px;
    display:block;
    float: center;
}