body {
	text-align: center;
	background-color: black;
    font-size: 5em;
	font-family: 'Quicksand', sans-serif;
	color: #black;
	background: url("../images/plant1.png");
}

h1 {
    color: black;
    font-size: 40px;
}

h2 {
    font-size: 80px;
    font-color: black;
}

 p {
    text-align: center;
	color: blue;
	font-size: 22px;
}

#slogan {
    color: blue;
    font-size: 40px;
}

img {
}

li {
    font-size: 20px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
}

p {
	text-decoration: italic;
}

ul {
	display:block;
	list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 80px;
}
